*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



body {
width: 100%;
height: 100vh;
background-color:rgb(241, 239, 235);
color:black;

display: flex;
flex-direction: column;
justify-content: space-between;
text-align:center;

}
nav.cards {
    display:inline-block;
    align-items:center;
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;
}



header{
    background-color: #222;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.h1 {
    background-color: aliceblue;
    font-size: 2.8em;
    font-weight: 200;
  
}

header h1:hover ,a:hover{
    color:#fff

}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-in-out;
}

footer {
    background-color: #222;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}